$color-black: hsl(0, 0%, 10%);
$color-darks: hsl(0, 0%, 25%);
$color-greys: hsl(0, 0%, 60%);
$color-light: hsl(0, 0%, 95%);
$color-white: hsl(0, 0%, 100%);
$primary-color: #ffbaac;
$footer-border-color: #d3d3d36e;
$color-white: #fff;
$color-blue-100: hsl(217, 91%, 60%);
$color-blue-200: hsl(221, 83%, 53%);
$color-blue-300: hsl(224, 76%, 48%);
$shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);