.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    background-color: $color-white;
    box-shadow: $shadow-medium;

    & .navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4.5rem;
        margin: 0 auto;

        & .header-action {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }



}