.footer-container {
    background-color: $color-white;
    box-shadow: $shadow-medium;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid $footer-border-color;

    & .footer-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 8rem;
        gap: 2rem;
    }

    & .footer-link {
        gap: 2rem;
        display: flex;
        flex: 1 1 auto;

        li {
            color: gray;
        }
    }

    & .copy-right {
        color: gray;
    }
}