.login-row {
    min-height: 300px;
    background: #d9d9d9;
    display: flex;
    justify-content: center;

    .login-action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & input {
            min-width: 280px;
            padding: 12px;
            border: 1px solid darkgray;
        }
    }


}